/usr/bin/mysql -h{{DOCKER_PREFIX}}_mysql -u{{DATABASE_USER}} --password={{DATABASE_PASSWORD}} {{DATABASE_NAME}} -e "UPDATE system_settings set \`value\` = '{\"send_mode\":\"smtp\",\"sender_name\":\"{{PROJECT_NAME}}\",\"sender_email\":\"webmaster@lovata.com\",\"sendmail_path\":\"\/usr\/sbin\/sendmail -bs\",\"smtp_address\":\"{{DOCKER_PREFIX}}_maildev_1\",\"smtp_port\":\"25\",\"smtp_user\":\"\",\"smtp_password\":\"\",\"smtp_authorization\":\"0\",\"smtp_encryption\":\"\",\"mailgun_domain\":\"\",\"mailgun_secret\":\"\",\"mandrill_secret\":\"\",\"ses_key\":\"\",\"ses_secret\":\"\",\"ses_region\":\"\"}' WHERE \`item\` = 'system_mail_settings';"